.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 24px;
    background-color: #005FA5;
    border-bottom: 1px solid #e5e5e5;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .logo {
    flex: 1;
  }
  
  .nav {
    display: flex;
    gap: 30px;
    flex: 2;
    justify-content: center;
    
  }
  
  .nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
  }
  
  .nav a:hover {
    color: #0070f3;
  }
  
  .profile {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .avatar {
    border-radius: 50%;
    object-fit: cover;
  }
  